#cat-container {
	display: flex;
	justify-content: center;
	position: relative;
}

.card {
	position: absolute;
	width: min(var(--card-width), 40vw);
	height: min(var(--card-height), 60vw);
	touch-action: none;
	transition: transform 0.3s ease;
}

.card img{
	pointer-events: none;
	width: 100%;
	height: 100%
	object-fit: cover;
}
